{% extends "base.html" %}

{% block title %}Andromeda Galaxy{% endblock %}

{% block content %}

<div>

    <a href="/" class="round-button">&larr;</a>
    <div class="card" style="min-height: 600px;">
        <div class="container" style="padding: 0;">
            <img src="../static/astronomical_objects/m31/visualization.png" alt="Andromeda Galaxy " id="pixelImage" style="border-radius: 2%;">
            <div id="point"></div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Selected Pixel Coordinates:</h5>
            <p class="card-text">
                X: <span id="xCoord">0</span><br>
                Y: <span id="yCoord">0</span><br>
                <span id="imageWidth"></span><br>
                <span id="imageHeight"></span><br>
            </p>
        </div>
        <div class="container" style="display: flex; justify-content: space-evenly; margin-bottom: 20px">
            <div class="row" >
                <div class="col-md-4">
                    <button class="btn btn-primary" style="width: 110px; min-height: 61.6px" id="resetButton">Reset</button>
                    </div>
                    <div class="col-md-4">
                    <a  href="/video_generate?object_name=m31">
                        <button class="btn btn-primary" style="width: 110px;" id="generateButton">Generate Grid</button>
                    </a>
                    </div>
                    <div class="col-md-4">
                    <a  href="/video_combined?object_name=m31">
                        <button class="btn btn-primary" style="width: 110px;" id="generateButton1">Generate Combined</button>
                    </a>
                        </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Overlay (przyciemnione tło) -->


    <!-- Video na samym przodzie -->

</div>


{% endblock %}
