{% extends "base.html" %}

{% block title %}Casper the Friendly Ghost Nebular{% endblock %}

{% block content %}

<div>

<a href="/" class="round-button">&larr;</a>
  <div class="card" style="min-height: 600px; ">
      <div class="container" style="padding: 2rem">
    <img src="../static/astronomical_objects/m78/visualization.png" alt="Casper the Friendly Ghost Nebular" id="pixelImage" style="border-radius: 2%;">
</div>
      <div class="card-body">
                    <h5 class="card-title">Selected Pixel Coordinates:</h5>
                    <p class="card-text">
                        X: <span id="xCoord">0</span><br>
                        Y: <span id="yCoord">0</span><br>
                        <span id="imageWidth"></span><br>
                        <span id="imageHeight"></span><br>
                    </p>
                </div>

  <div class="container" style="display: flex; justify-content: space-evenly;">
    <div class="row" style="margin-top: 2rem;">
        <div class="col-md-6">
            <button class="btn btn-primary" style="width: 100px;" id="resetButton">RESET</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" style="width: 100px;">GENERATE</button>
        </div>
    </div>
</div>


  </div>
</div>

{% endblock %}
