{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/photos/Andromeda.png" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title">Andromeda</h3>
      <p class="card-text">
The Andromeda Galaxy, also known as M31, is the closest spiral to our Milky Way. It is the most important one, located about 2,537 million light-years from Earth, and is often observed in the night sky. Andromeda is a connecting object in the Local Group, which contains our Galaxy and several other smaller devices, and is often studied by astronomers for the evolution of available spirals      </p>
      <a href="/andromeda" class="btn btn-primary">Generate</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/photos/Body.png" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title">Bode</h3>
      <p class="card-text">
The Bode Galaxy, also known as Messier 81 (M81), is a spiral galaxy located in the constellation Ursa Major. It is one of the brightest and best-known spiral galaxies in the night sky. This galaxy has distinct spiral arms and is approximately 11.8 million light-years away. M81 is an object frequently observed by astronomers and is an important object for studying the structure and evolution of spiral galaxies.      </p>
      <a href="/andromeda" class="btn btn-primary">Generate</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/photos/Deski_serfingowej.png" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title">Surfboard</h3>
      <p class="card-text">
The galaxy M108, also known as NGC 3556, is a barred spiral galaxy located in the constellation Ursa Major. It was discovered by Pierre Méchain in 1781 and is often observed by amateur astronomers due to its brightness. M108 has distinct spiral arms and is about 46 million light-years away from Earth.
      </p>
      <a href="/andromeda" class="btn btn-primary">Generate</a>
    </div>
  </div>
</div>
{% endblock %}
