{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m31/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Andromeda</h3>
      <p class="card-text">
The Andromeda Galaxy, also known as M31, is the closest spiral to our Milky Way. It is the most important one, located about 2,537 million light-years from Earth, and is often observed in the night sky. Andromeda is a connecting object in the Local Group, which contains our Galaxy and several other smaller devices, and is often studied by astronomers for the evolution of available spirals      </p>
      <a href="/andromeda" class="btn btn-primary" style=" position: absolute;bottom: 20px" >Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4" >
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m81/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Bode</h3>
      <p class="card-text">
The Bode Galaxy, also known as Messier 81 (M81), is a spiral galaxy located in the constellation Ursa Major. It is one of the brightest and best-known spiral galaxies in the night sky. This galaxy has distinct spiral arms and is approximately 11.8 million light-years away. M81 is an object frequently observed by astronomers and is an important object for studying the structure and evolution of spiral galaxies.      </p>
      <a href="/bode" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m108/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Surfboard</h3>
      <p class="card-text">
The galaxy M108, also known as NGC 3556, is a barred spiral galaxy located in the constellation Ursa Major. It was discovered by Pierre Méchain in 1781 and is often observed by amateur astronomers due to its brightness. M108 has distinct spiral arms and is about 46 million light-years away from Earth.
      </p>
      <a href="/surfboard" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m71/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Angelfish Cluster</h3>
      <p class="card-text">
The galaxy M71, also known as Messier 71, is a globular cluster located in the constellation Sagittarius in the night sky. It was discovered in 1746 by Philippe Loys de Chéseaux and later cataloged by Charles Messier in 1780. M71 is one of many globular clusters found in our Galaxy, and a large number of older stars cluster together to form a beautiful and dense cosmic cluster.
      </p>
      <a href="/angelfish" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m78/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Casper the Friendly Ghost Nebular</h3>
      <p class="card-text">
        The galaxy M78 is a reflection nebula located in the constellation Orion. It is a bright and easily visible nebula whose blue light comes from the diffuse reflection of the light of young, hot stars inside it. M78 is a popular object in amateur astronomy and is part of the Orion nebula complex, full of fascinating cosmic features.
      </p>
      <a href="/Casper_the_Friendly_Ghost_Nebular" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>



<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m1/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Crab Nebula</h3>
      <p class="card-text">
        The M1 galaxy, also known as Messier 1 or the Crab Nebula, is a supernova remnant discovered in 1054 by Chinese and Arab astronomers. It is a planetary nebula located in the constellation Taurus and is one of the most famous objects of this type in the sky. The Crab Nebula is the subject of intense scientific research and is visible as a bright spot of space in the night sky.
      </p>
      <a href="/Crab_Nebula" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m97/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Owl Nebula</h3>
      <p class="card-text">
        The galaxy M97, also known as the Owl Nebula, is a planetary nebula located in the constellation Ursa Major. Its name comes from its characteristic shape, which resembles an owl with big eyes. This nebula is an object often observed by amateur astronomers and is seen as one of the more unique objects in the night sky.
      </p>
      <a href="/Owl_Nebula" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m4/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Spider Globular</h3>
      <p class="card-text">
        Globular cluster M4, also known as Messier 4, is a globular star cluster located in the constellation Scorpius. It is one of the closest globular clusters to our Milky Way Galaxy, approximately 7,200 light-years away from Earth. M4 is rich in older stars and is a fascinating object for astronomical study, providing a better understanding of the evolution of globular clusters and their stars.
      </p>
      <a href="/Spider_Globular" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m104/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Sombrero</h3>
      <p class="card-text">
        The galaxy M104, also known as the Sombrero Nebula, is a Sa-type spiral galaxy located in the constellation Virgo. It is characterized by a distinctive dust disk that gives it the appearance of a sombrero hat. It is one of the more recognizable galaxies in the night sky and is a popular target for amateur astronomy observers.
      </p>
      <a href="/sombrero" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m74/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Phantom</h3>
      <p class="card-text">
        The galaxy M74, also known as NGC 628, is an Sc-type spiral galaxy located in the constellation Pisces. It is known for its bright spiral arms, which contain numerous regions of new star formation. M74 is one of the objects in the Messier Catalog and provides a research facility for scientists to understand the processes of star formation and the evolution of spiral galaxies.
      </p>
      <a href="/Phantom" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m3/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">NGC 5272</h3>
      <p class="card-text">
        The M3 galaxy, also known as Messier 3, is a globular cluster containing thousands of older stars located in the constellation Cygnus. It is one of the brightest globular clusters in the night sky and is approximately 33,900 light-years away from Earth. M3 is an object often observed by amateur astronomers and is a fascinating example of this type of cosmic cluster.
      </p>
      <a href="/NGC_5272" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-6 mb-4">
  <div class="card" style="min-height: 700px">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src="../static/astronomical_objects/m27/visualization.png" style="margin-top: 2rem; margin-bottom: 1rem" class="img-fluid d-block mx-auto img-fluid" width="300">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body" style="posistion:relative">
      <h3 class="card-title">Dumbbell Nebula</h3>
      <p class="card-text">
        The M27 galaxy, also known as the Dumbbell Nebula, is a planetary nebula located in the constellation Lyra. Its name comes from its characteristic shape resembling a dumbbell. M27 is one of the brightest and best-known objects of its type in the night sky and is a fascinating example of planetary nebulae, remnants of the evolution of Sun-like stars.
      </p>
      <a href="/Dumbbell_Nebula" class="btn btn-primary" style=" position: absolute;bottom: 20px">Select</a>
    </div>
  </div>
</div>

{% endblock %}
